/* ==========================================================================
   TOP Etch A Sketch
   ========================================================================== */


/* Grid
   ========================================================================== */

/**
 * 1. prevent being able to click and drag element, Fixes mouse cursor changing 
 *       to 'grabbing' and preventing click-drag drawing 
 */

   .gridFlexbox {
      display:flex;
      flex-direction: column;
      width: 800px;
      height: 800px;
      background-color: aqua;
   }

   .rowFlexbox, .cells {
      
   }

   .rowFlexbox {
      background-color: green;
      display: flex;
      flex: 1 1 auto;
   }


   .cells {
      background-color: red;
      flex-direction: column;
      flex: 1 1 auto;
      user-select: none; /* 1 */
   }
