/* ==========================================================================
   TOP Etch A Sketch
   ========================================================================== */


   .gridFlexbox {
      display:flex;
      flex-direction: column;
      width: 800px;
      height: 800px;
      background-color: aqua;
   }

   .rowFlexbox, .cells {
      
   }

   .rowFlexbox {
      background-color: green;
      display: flex;
      flex: 1 1 auto;
   }

   .cells {
      background-color: red;
      flex-direction: column;
      flex: 1 1 auto;
   }
